// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #7c2448; // Thats a sample how you could change a BootStrap variable.
$dark_plum: #7c2448;
$light_plum: #aa5b77;
$secondary: #aa5b77;
$pink: #f8b5b7;

$dark_peach: #f8c9a3;
$peach: #fcd4c1;
$yellow_peach: #ffdcba;

$dark_green: #425e42;
$mute_green: #698276;

$black: #373637;
